<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coin Info</title>
  </head>
  <body>
<h2>Last updated on <%=time%></h2>
<br>
<h3>name: <%=name%></h3>
<h3>symbol: <%=symbol%></h3>
<h3>current price: <%=current_price%> <%=currency%></h3>
<h3>market cap: <%=market_cap%> <%=currency%></h3>
<h3>market cap rank: <%=market_cap_rank%></h3>
<h3>fully diluted market value: <%=fully_diluted_valuation%> <%=currency%></h3>
<h3>total volume: <%=total_volume%> <%=currency%></h3>
<h3>24 hours high: <%=high_24h%> <%=currency%></h3>
<h3>24 hours low: <%=low_24h%> <%=currency%></h3>
<h3>24 price change: <%=price_change_24h%> <%=currency%></h3>
<h3>circulating supply: <%=circulating_supply%></h3>
<h3>total supply: <%=total_supply%></h3>
<h3>all time high: <%=ath%> <%=currency%></h3>

  </body>
</html>
